<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{! <link rel="stylesheet" href="styles.css"> }}
    <style>
      body { font-family: Arial, sans-serif; background-color: #f4f4f4; display:
      flex; justify-content: center; align-items: center; height: 100vh; margin:
      0; } .success-container { background-color: #ffffff; padding: 20px;
      border: 1px solid #e1e1e1; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      text-align: center; } a { display: inline-block; margin-top: 20px;
      padding: 10px 20px; background-color: #007bff; color: #ffffff;
      text-decoration: none; border-radius: 5px; }
    </style>
    <title>Login Success</title>
  </head>
  <body>
    <div class="success-container">
      <h2>Welcome, {{username}}!</h2>
      <p>You have successfully logged in.</p>
      <a href="/index/reset/password">Reset Password</a>
      <a href="/product/">Products</a>
      <a href="/userQuery/getProduct/">Search Product</a>
      <a href="/user/cart/item">My Cart</a>
      <a href="/user/order/item">My orders</a>
      <a href="/auth/logout">Logout</a>
    </div>
  </body>
</html>