<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body{display: flex;} a { margin: 301px 0 0 551px; padding: 10px 20px;
      background-color: #dc3545; color: #ffffff; border: none; border-radius:
      5px; cursor: pointer; font-size: 16px; } a:hover { background-color:
      #bd2130; }
    </style>
    <title>Logout Button</title>
  </head>
  <body>
    <a href="/auth/logout">Logout</a>
  </body>
</html>